#!/usr/bin/make -f
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

LDFLAGS += -lncurses
DEB_MAKE_CLEAN_TARGET = distclean

configure/mg:: Makefile config.h
Makefile config.h config.log: configure
	./configure
