#!/usr/bin/make -f
%:
	dh $@
build:
	dh $@ --before configure
	./configure		# run without arguments
	dh $@ --after configure
binary:
	dh $@ --before dh_auto_install
	make install DESTDIR=debian/mg prefix=/usr mandir=/usr/share/man
	dh $@ --after dh_auto_install
